body{
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}
h2{
    text-align: center;
}
form{
    background: white;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
input{
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    padding: 8px 12px;
    margin: 5px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:nth-child(2){
    background: #007bff;
}
#mensajeVenta{
    text-align: center;
    font-weight: bold;
}
ul{
    width: 350px;
    margin: auto;
    background: white;
    padding: 15px 30px;
    border-radius: 10px;
}
h3{
    text-align: center;
    margin-top: 15px;
}